<!doctype html>
<html>
<head>
    {include file="../../layout/view/base/base_header" /}
    <title>
        {block name="title"}
        系统总后台
        {/block}
    </title>
    {block name="header_css"}{/block}
</head>
<body data-type="index">
{include file="../../layout/view/base/base_top" /}
<div class="tpl-page-container tpl-page-header-fixed">
{include file="../../layout/view/base/base_left" /}

{block name="main"}
{/block}
</div>
</body>
{block name="footer_js"}
<script src="/assets/js/app.js"></script>
<script>
    $(function () {
        $(".tpl-left-nav-list ul li").find('a').click(function () {
            alert("132");
        })
    })
</script>
{/block}
</html>